// TopNavigationBar.scss
.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;


}

.dark-mode-button {
  // Styles for the dark mode toggle button
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.dark-mode .top-nav-bar__logo {
  color: #ffffff;
}

.dark-mode {
  // Styles for dark mode
  background-color: #1a1a1a;
  color: #ffffff;
}